@model ProjetoPIM4.Models.Call

@{
    ViewData["Title"] = "Detalhes do Chamado";
}

<h1>Detalhes</h1>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductService.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductService.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AiClassification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AiClassification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AiSuggestedSolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AiSuggestedSolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AiTechnicianRecommendation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AiTechnicianRecommendation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
