@model ProjetoPIM4Web.Models.Users

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnterpriseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnterpriseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>

